In [4]:
import pandas as pd
import numpy
import os

In [5]:
os.getcwd()

'/Users/fauxcomrade'

In [6]:
df = pd.read_excel('data.xlsx')

In [7]:
df.shape

(5044, 22)

In [9]:
df.columns

Index(['mvi_link', 'year', 'movie_title', 'movie_actors', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [10]:
df = df[['year','movie_title','movie_actors']]

In [11]:
df.head()

,year,movie_title,movie_actors
0,1965,Shakunthala (1965),"Sathyan ,Prem Nazeer ,Thikkurissi Sukumaran Na..."
1,1965,Sarppakkaadu (1965),"Madhu ,Kottarakkara Sreedharan Nair ,Adoor Bha..."
2,1965,Rosi (1965),"Prem Nazeer ,TS Muthaiah ,DK Chellappan ,Thikk..."
3,1965,Kaattupookkal (1965),"Madhu ,Thikkurissi Sukumaran Nair ,O Madhavan ..."
4,1965,Kuppivala (1965),"Prem Nazeer ,Kottayam Chellappan ,Johnson ,Bah..."

In [13]:
df.to_pickle("./mdata.pkl")

In [15]:
df.to_csv("mal_movie_data.csv",index=False)