# Data Collection

Data is collected from mainly 2 sources : 
- https://www.malayalachalachithram.com/
- https://en.wikipedia.org/wiki/List_of_Malayalam_films_of_[year]
    
Libraries used :
- BeautifulSoup : a library that makes it easy to scrape information from web pages. https://pypi.org/project/beautifulsoup4/
- html5lib :  a pure-python library for parsing HTML. https://pypi.org/project/html5lib/

In [1]:
#importing all libraries required

import requests
from bs4 import BeautifulSoup
import pandas as pd
import html5lib
import numpy as np
from datetime import datetime
import datefinder

In [2]:

def reprel(text):
    matches = datefinder.find_dates(text)
    for match in matches:
        s=match
        if s:
            return s.date()

    return "In progress"

In [ ]:
df=[]
batch = 64
count = 0
for b in range(batch):
    print("====batch===",b+1)
    for i in range(b*100,(b+1)*100):
        count = count+1
        if count>6368:
            break
        loc ="https://www.malayalachalachithram.com/movie.php?i="+str(i)
        url = requests.get(loc).text
        soup = BeautifulSoup(url,"lxml")
        try:
            table = soup.find("table",{"class":"mdetails"})
            name = soup.select('h1.movie')[0].text.strip()
            t =str(table)
            data = pd.read_html(t)[0]
            df1 = data.T    
            df1.columns = df1.iloc[0]
            df1.drop(df1.index[0],inplace=True)
            df1["Movie"] = name
            cast = []
            print(name)
            divTag = soup.find_all("div", {"class": "heroes"})
            if divTag:
                for tag in divTag:
                    try:
                        cast.append(tag.find("a").text)
                    except:
                        continue
            try:
                tables = soup.findAll("table",{"class":"cast"})
                try:
                    for a in tables:
                        a = table.findAll(lambda tag: tag.name=='a')
                        for c in a:
                            cast.append(c.text)
                except:
                    cast = []
            except:
                continue

            df1["cast"]=[cast]
            df1.Status = df1.Status.apply(reprel)
            df.append(df1)
        except:
            continue

In [ ]:
newdf_ =df[0]
for i in range(1,len(df)):
    newdf = newdf.append(df[i])

In [100]:
newdf_.shape

(6267, 25)

In [105]:
newdf.to_pickle("./cinemastat_data.pkl")

In [3]:
## Merging Data

data1 = pd.read_pickle("./dataset/cinemastat_newdf.pkl")
data2 = pd.read_pickle("./dataset/_dataclean.pkl")

In [4]:
data1["cast"] = data1["cast"].apply(set)
column_1 = data1.columns

In [5]:
data1 = data1.reset_index()
data1.head(2)

,index,Art Direction,Background Music,Banner,Choreography,Cinematography,Costumes,Design,Dialogue,Director,...,Music,Original Story,Producer,Screenplay,Shooting Location,Singers,Sound Design,Status,Story,cast
0,1,NaN,NaN,Travancore National Pictures Ltd,NaN,JC Daniel,NaN,NaN,NaN,JC Daniel,...,NaN,NaN,JC Daniel,JC Daniel,NaN,NaN,NaN,1928-07-11,JC Daniel,"{Travancore National Pictures Ltd, Johnson, JC..."
1,1,NaN,NaN,Sree Rajeswari Films,NaN,PE Nayik,NaN,NaN,NaN,PV Rao,...,NaN,NaN,R Sundararaj,PV Rao,NaN,NaN,NaN,1933-12-05,CV Raman Pillai,"{CV Raman Pillai, Sree Rajeswari Films, R Sund..."

In [6]:
data2.rename(columns ={"cast":"leadcast"},inplace = True)

In [9]:
#normalizing column names
columns = [i.lower() for i in data1.columns]
data1.columns = columns

#normalizing column names
columns = [i.lower() for i in data2.columns]
data2.columns = columns

In [10]:
data = pd.merge(data1,data2[['movie','leadcast']],on='movie', how='left')
data.shape

In [14]:
#ADDING YEAR to the column derived from the movie name.
import re
def get_year(text):
    pattern = re.compile(r"\((\d+)\)")
    year = ''.join(pattern.findall(text))
    try:
        if int(year)>2020:
            return "UNKNOWN"
        else:
            return int(year)
    except:
        return "UNKNOWN"
        

data["year"] = data.movie.apply(get_year)
data.head(2)

,index,art direction,background music,banner,choreography,cinematography,costumes,design,dialogue,director,...,producer,screenplay,shooting location,singers,sound design,status,story,cast,leadcast,year
0,1,NaN,NaN,Travancore National Pictures Ltd,NaN,JC Daniel,NaN,NaN,NaN,JC Daniel,...,JC Daniel,JC Daniel,NaN,NaN,NaN,1928-07-11,JC Daniel,"{Travancore National Pictures Ltd, Johnson, JC...","[JC Daniel, Johnson, PK Rosy, Sunder Raj]",1928
1,1,NaN,NaN,Sree Rajeswari Films,NaN,PE Nayik,NaN,NaN,NaN,PV Rao,...,R Sundararaj,PV Rao,NaN,NaN,NaN,1933-12-05,CV Raman Pillai,"{CV Raman Pillai, Sree Rajeswari Films, R Sund...","[Pious, Padmini, AP Krishna Menon, Devaki Bhai...",1933

In [15]:
#Rearranging columns
ignore = ["Background Music",'shooting location','original story',"distribution"]
columns =['year','movie', 'movie genre','director', 'editing','producer','banner','screenplay',
          'music','art direction','choreography', 'cinematography', 'costumes', 
          'design', 'dialogue','lyrics', 'makeup',  'singers','story','leadcast','cast','status']
data = data[columns]
data.shape

(6374, 22)

In [16]:
data.tail(5)

,year,movie,movie genre,director,editing,producer,banner,screenplay,music,art direction,...,costumes,design,dialogue,lyrics,makeup,singers,story,leadcast,cast,status
6369,2001,Aarodum Parayathe (2001),NaN,Praveen Dutt,NaN,Gireesh Nair,NaN,Venu Mahadevan,SR Mohan,Shibu Pazhanchira,...,Arafath,NaN,Venu Mahadevan,Bharanikkavu Sivakumar,NaN,"MG Sreekumar, Bhavana Radhakrishnan",Gireesh Nair,"[Sindhu, Adoor Pankajam, Jayanand, Jose Pellis...","{Shibu Pazhanchira, Venu Mahadevan, Bharanikka...",In progress
6370,2002,Aaradyam Parayum (2002),NaN,Paulson,R Sekhar,Minu Kumar,NaN,Babu Pallassery,Aadithyan,Lakshman G Malam,...,Velayudhan Keezhillam,NaN,Babu Pallassery,Bichu Thirumala,Salim Kadakkal(Salim Nagarcoil),"KS Chithra, MG Sreekumar, Biju Narayanan, P Un...",Beena Kumari,"[Gopika, Rakesh]","{Babu Pallassery, Salim Kadakkal(Salim Nagarco...",In progress
6371,1999,Mimics Ghost (1999),Comedy,Paulson,NaN,NaN,NaN,NaN,Johnson,Balan Karumaloor,...,V Ankuswami,NaN,NaN,Mankombu Gopalakrishnan,CV Anil,NaN,NaN,"[Indulekha, Shaju K.S.]","{Indulekha, CV Anil, V Ankuswami, Johnson, Bal...",In progress
6372,1998,Minukkam (1998),NaN,Sasi Mohan,NaN,NaN,NaN,Sidhique Thamarassery,"KV Abutty, Chandrabose",Murali Beppur,...,NaN,NaN,Sidhique Thamarassery,Gireesh Puthenchery,NaN,NaN,NaN,NaN,"{Gireesh Puthenchery, Sasi Mohan, Murali Beppu...",In progress
6373,2011,Ee Abhaya Theeram (2011),NaN,Alex Thankachan,NaN,NaN,NaN,Alex Thankachan,R Somasekharan,NaN,...,NaN,NaN,Alex Thankachan,Bharanikkavu Sivakumar,NaN,"Bhavana Radhakrishnan, Vidhu Prathap, B Shobha...",Alex Thankachan,NaN,"{Shakkeela, R Somasekharan, Bharanikkavu Sivak...",In progress

In [31]:
movie_names = data.movie
len(movie_names)

6374

In [32]:
movie_names = list(movie_names)
len(set(movie_names))

6368

In [37]:
import collections
print([item for item, count in collections.Counter(movie_names).items() if count > 1])

## [1, 2, 5]

['Criminal (2012)', 'Final Round (2016)']

In [43]:
data = data[~data.movie.isin(['Criminal (2012)', 'Final Round (2016)'])]

In [44]:
data.shape

(6366, 22)

In [45]:
#removing year with unknown release data / All are dubbed movies
data = data[data["year"] != "UNKNOWN" ]
data.shape

(6295, 22)

In [47]:
data.isnull().sum()

year                 0
movie                0
movie genre       6009
director           388
editing           1941
producer          2356
banner            2307
screenplay        1786
music              485
art direction     3225
choreography      6168
cinematography    1701
costumes          5637
design            4087
dialogue          1953
lyrics             705
makeup            5557
singers            955
story             1861
leadcast             3
cast                 0
status               0
dtype: int64

In [70]:
def clean_leadcast(leadcast):
    if isinstance(leadcast, list):
        return int(len(leadcast))
#     else:
#         print(leadcast)
   
                
data["len_cast"] = data.cast.apply(len)
data["len_lead"] = data.leadcast.apply(clean_leadcast)

data[["cast","leadcast"]][:2]

nan
nan
nan

,cast,leadcast
0,"{Travancore National Pictures Ltd, Johnson, JC...","[JC Daniel, Johnson, PK Rosy, Sunder Raj]"
1,"{CV Raman Pillai, Sree Rajeswari Films, R Sund...","[Pious, Padmini, AP Krishna Menon, Devaki Bhai..."

In [62]:
c1 = data.director.isnull()
c2 =data.len_lead == 0
data[c1 & c2]

,year,movie,movie genre,director,editing,producer,banner,screenplay,music,art direction,...,design,dialogue,lyrics,makeup,singers,story,leadcast,cast,status,len_lead
1066,1979,Sneham Dukhamanu (1979),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
1950,1986,Prakrithiyile Albhuthangal (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
3688,2004,Marmajaalam (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
4355,2002,Deeptham (2002),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
4377,2013,Kallan Kalli (2013),Investigation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
4555,2015,Shabdarekha (2015),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
4604,2012,Thaazhvaarakkaattu (2012),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[Mamukkoya, Suraj Venjaramoodu, Geetha Vijayan...",{},In progress,0
4668,2007,Thadha (2007),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
4710,2012,Sunday (2012),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
4772,2013,Kaattu Paranja Kadha (2013),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
4792,2013,Otta Oruthiyum Shariyalla (2013),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[Ranjini Haridas],{},In progress,0
4814,2013,Signal (2013),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
5073,2014,Snehathinte Vila (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
5146,2012,English Vinglish (2012),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},2012-09-14,0
5182,2014,Kerala Home Guards (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},2014-08-22,0
5439,2016,Thotti Shiva (2016),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],{},In progress,0
5629,2017,Puthiya Yugam (2017),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[Devan],{},In progress,0
5881,2018,Dairy Milk (2018),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[KPAC Lalitha, Baiju Ezhupunna, Karamana Sudhe...",{},In progress,0
6024,2019,Jayante Maranam Oru Flashback (2019),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[Ponnamma Babu],{},In progress,0