# Cinemastat - A Statistical Analysis of Malayalam Movie Data

## content

### Part 1

- Movie Count by years - barplot
- Directors
    - Top 50 - bar
    - Top 25 activity - Stacked bar
- Banners/producer
    - top 50
    - Top 50 activtiy in each decade
- Cast
    - Movie count
    - Most active actor through years (top 25)
    - Lead actor trend in each decade
    - Lead actor Movie counts
    - Lead actor - supporting actor collaborations
    - Lead actor director collaborations
    - Lead actor female trends
- screenpay
    - top 25
    - trends
    
### part 2

- Music
    - top 25
    - Music composer trends
    - Director - music composer collaboration
    - Composer-Singer collaborations
    - awards
- Lyrics
    - top 25
    - Composer collaborations
    - Awards
- Singers
    - top 25
    - trends 
    - collaborations
    - awards
- Cinematography
    - top 25
    - director collaborations
- Editors
    - top 25
    -director collaborations
-

In [3]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_pickle("data_2021_03_29.pkl")

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-10-ef64d022d19f>", line 1, in <module>
    df = pd.read_pickle("data_2021_03_29.pkl")
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/pandas/io/pickle.py", line 113, in read_pickle
    return try_read(path, encoding='latin1')
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/pandas/io/pickle.py", line 108, in try_read
    lambda f: pc.load(f, encoding=encoding, compat=True))
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/pandas/io/pickle.py", line 84, in read_wrapper
    return func(f)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/pandas/io/pickle.py", line 108, in <lambda>
    lambda f: pc.load(f, encoding=encoding, compat=True))
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/pandas/compat/pickle_compat.py", line 194, in load
    return up.load()
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/pickle.py", line 1050, in load
    dispatch[key[0]](self)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/pickle.py", line 1347, in load_stack_global
    self.append(self.find_class(module, name))
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/pandas/compat/pickle_compat.py", line 117, in find_class
    return super(Unpickler, self).find_class(module, name)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/pickle.py", line 1388, in find_class
    __import__(module, level=0)
ModuleNotFoundError: No module named 'pandas.core.internals.managers'; 'pandas.core.internals' is not a package

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ModuleNotFoundError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 1090, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 311, in wrapped
    return f(*args, **kwargs)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/IPython/core/ultratb.py", line 345, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/inspect.py", line 1483, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/inspect.py", line 1441, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/pytest.py", line 13, in <module>
    from _pytest.fixtures import fixture, yield_fixture
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/_pytest/fixtures.py", line 842, in <module>
    class FixtureFunctionMarker(object):
  File "/Users/fauxcomrade/anaconda3/lib/python3.6/site-packages/_pytest/fixtures.py", line 844, in FixtureFunctionMarker
    params = attr.ib(convert=attr.converters.optional(tuple))
TypeError: attrib() got an unexpected keyword argument 'convert'

ModuleNotFoundError: No module named 'pandas.core.internals.managers'; 'pandas.core.internals' is not a package

In [5]:
df .shape

(6370, 25)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6370 entries, 1 to 1
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Art Direction      3077 non-null   object
 1   Background Music   1452 non-null   object
 2   Banner             3995 non-null   object
 3   Choreography       128 non-null    object
 4   Cinematography     4606 non-null   object
 5   Costumes           659 non-null    object
 6   Design             2209 non-null   object
 7   Dialogue           4356 non-null   object
 8   Director           5937 non-null   object
 9   Distribution       1651 non-null   object
 10  Editing            4363 non-null   object
 11  Lyrics             5655 non-null   object
 12  Makeup             738 non-null    object
 13  Movie              6370 non-null   object
 14  Movie Genre        288 non-null    object
 15  Music              5876 non-null   object
 16  Original Story     113 non-null    object
 17  Producer           3953 non-null   object
 18  Screenplay         4523 non-null   object
 19  Shooting Location  308 non-null    object
 20  Singers            5397 non-null   object
 21  Sound Design       115 non-null    object
 22  Status             6370 non-null   object
 23  Story              4447 non-null   object
 24  cast               6370 non-null   object
dtypes: object(25)
memory usage: 1.3+ MB

In [7]:
df.isnull().sum()

Art Direction        3293
Background Music     4918
Banner               2375
Choreography         6242
Cinematography       1764
Costumes             5711
Design               4161
Dialogue             2014
Director              433
Distribution         4719
Editing              2007
Lyrics                715
Makeup               5632
Movie                   0
Movie Genre          6082
Music                 494
Original Story       6257
Producer             2417
Screenplay           1847
Shooting Location    6062
Singers               973
Sound Design         6255
Status                  0
Story                1923
cast                    0
dtype: int64

In [12]:
#normalizing column names
columns = [i.lower().replace(" ","_") for i in df.columns]
df.columns = columns

In [13]:
df.columns

Index(['art_direction', 'background_music', 'banner', 'choreography',
       'cinematography', 'costumes', 'design', 'dialogue', 'director',
       'distribution', 'editing', 'lyrics', 'makeup', 'movie', 'movie_genre',
       'music', 'original_story', 'producer', 'screenplay',
       'shooting_location', 'singers', 'sound_design', 'status', 'story',
       'cast', 'year'],
      dtype='object')

In [14]:
#ADDING YEAR to the column derived from the movie name.
import re
def get_year(text):
    pattern = re.compile(r"\((\d+)\)")
    year = ''.join(pattern.findall(text))
    try:
        if int(year)>2021:
            return "UNKNOWN"
        else:
            return int(year)
    except:
        return "UNKNOWN"
        

df["year"] = df.movie.apply(get_year)
df.head()

,art_direction,background_music,banner,choreography,cinematography,costumes,design,dialogue,director,distribution,...,original_story,producer,screenplay,shooting_location,singers,sound_design,status,story,cast,year
1,NaN,NaN,Travancore National Pictures Ltd,NaN,JC Daniel,NaN,NaN,NaN,JC Daniel,NaN,...,NaN,JC Daniel,JC Daniel,NaN,NaN,NaN,1928-07-11,JC Daniel,"[JC Daniel, Johnson, PK Rosy, Sunder Raj, JC D...",1928
1,NaN,NaN,Sree Rajeswari Films,NaN,PE Nayik,NaN,NaN,NaN,PV Rao,NaN,...,NaN,R Sundararaj,PV Rao,NaN,NaN,NaN,1933-12-05,CV Raman Pillai,"[PV Rao, R Sundararaj, Sree Rajeswari Films, C...",1933
1,NaN,NaN,Modern Theatres,NaN,Bodo Gush Walker,NaN,NaN,Muthukulam Raghavan Pilla,S Nottani,NaN,...,NaN,TR Sundaram,Muthukulam Raghavan Pilla,NaN,"KK Aroor, Master Madanagopal, MK Kamalam, Pall...",NaN,1938-01-19,A Sundaram Pillai,"[Alleppey Vincent, MK Kamalam, KK Aroor, S Not...",1938
1,NaN,NaN,Shyamala Pictures,NaN,N Cooper,NaN,NaN,C Madhavan Pillai,S Nottani,NaN,...,NaN,Annamala Chettiyar,C Madhavan Pillai,NaN,"CK Rajam, KK Aroor, Mavelikkara L Ponnamma, PK...",NaN,1940-07-04,C Madhavan Pillai,"[S Nottani, Shyamala Pictures, C Madhavan Pill...",1940
1,NaN,NaN,Madras United Artist Corporation,NaN,NaN,NaN,NaN,NP Chellappan Nair,K Subramaniam,NaN,...,Mythology,NaN,NaN,NaN,"Papanasam Sivan, VA Chellappa, Kumari Lakshmi",NaN,1941-08-17,NaN,"[K Subramaniam, Madras United Artist Corporati...",1941

In [15]:
#Rearranging columns
ignore = ["background_music",'shooting_location','original_story',"distribution"]
columns =['year','movie', 'movie_genre','director', 'editing','producer','banner','screenplay',
          'music','art_direction','choreography', 'cinematography', 'costumes', 
          'design', 'dialogue','lyrics', 'makeup',  'singers','story','lead_cast','supporting_cast','status']
df = df[columns]
df.shape

KeyError: "['supporting_cast', 'lead_cast'] not in index"

In [16]:
#removing year with unknown release data / All are dubbed movies
df = df[df["year"] != "UNKNOWN" ]
df.shape

(6299, 26)

In [17]:
#Grouping by year
df_yearcount = df[["movie","year"]].groupby("year").count()
df_yearcount =df_yearcount.reset_index()
df_yearcount.tail()

    year  movie
73  2016    183
74  2017    229
75  2018    264
76  2019    297
77  2020    123

In [18]:
df_t = pd.read_pickle("./mov1.pkl")
df_k = pd.read_pickle("./cinemahall_df.pkl")

FileNotFoundError: [Errno 2] No such file or directory: './mov1.pkl'

In [34]:
df_k.iloc[6266]

Art Direction                             NaN
Background Music                          NaN
Banner                                    NaN
Choreography                              NaN
Cinematography                            NaN
Costumes                                  NaN
Design                                    NaN
Dialogue                                  NaN
Director                         Nithin Noble
Distribution                              NaN
Editing                                   NaN
Lyrics                           Nithin Noble
Makeup                                    NaN
Movie                            Safar (2019)
Movie Genre                               NaN
Music                            Nithin Noble
Original Story                            NaN
Producer                                  NaN
Screenplay                       Nithin Noble
Shooting Location                         NaN
Singers              Chithra Arun, Haricharan
Sound Design                              NaN
Status                            In progress
Story                                     NaN
cast                                       []
Name: 1, dtype: object

In [108]:
#converting to json for visualization
dfjson1 = df_yearcount.to_json(orient = "split")

In [333]:
#top50 director
dir_grp = df.director.value_counts()
dir_grp = dir_grp.reset_index()
dir_grp.columns=["director","count"]
dir_grp = dir_grp[:25]
dir_grp.shape

(25, 2)

In [334]:
dir_names = list(dir_grp.director)

In [335]:
ddf = df[["year","movie","director"]]
ddf = ddf[ddf.director.isin(dir_names)]
dirdata = ddf.groupby(["year","director"]).count()
dirdata = dirdata.reset_index()
len(dirdata.director.value_counts())

25

In [ ]:
dirjson =[]
import math

for i in range(25):
    temp = {}
    data =[]
    temp["label"] = dir_names[i]
    temp["backgroundColor"] = colors[i]
    
    k = dirdata[dirdata.director == dir_names[i]]
    k2 = pd.merge(diryears,k,on="year",how='outer')
    mylist = [0 if math.isnan(x) else int(x) for x in list(k2.movie)]
    temp["data"] =mylist

            
    
    
    dirjson.append(temp)

dirjson

In [591]:
palette =['#2A5784', '#43719F', '#5B8DB8', '#7AAAD0', '#9BC7E4', '#BADDF1', '#E1575A', '#EE7423', '#F59D3D', '#FFC686', '#9D7760', '#F1CF63', '#7C4D79', '#9B6A97', '#BE89AC', '#D5A5C4', '#EFC9E6', '#BBB1AC', '#24693D', '#398949', '#61AA57', '#7DC470', '#B4E0A7', '#dbf7d3', '#565d47']

colors =['#2A5784', '#F59D3D','#FFC686', '#BE89AC','#61AA57','#43719F', '#BADDF1','#9D7760','#D5A5C4','#7DC470','#5B8DB8', '#EFC9E6','#F1CF63','#BBB1AC','#B4E0A7',
         '#7AAAD0', '#E1575A','#7C4D79','#24693D','#dbf7d3','#9BC7E4', '#EE7423','#9B6A97','#398949','#565d47']
  
colors

['#2A5784', '#F59D3D', '#FFC686', '#BE89AC', '#61AA57', '#43719F', '#BADDF1', '#9D7760', '#D5A5C4', '#7DC470', '#5B8DB8', '#EFC9E6', '#F1CF63', '#BBB1AC', '#B4E0A7', '#7AAAD0', '#E1575A', '#7C4D79', '#24693D', '#dbf7d3', '#9BC7E4', '#EE7423', '#9B6A97', '#398949', '#565d47']

In [201]:
temp =list(banner["count"][:50])
temp

[58, 48, 36, 28, 25, 24, 20, 20, 19, 18, 18, 18, 17, 16, 16, 16, 16, 15, 15, 14, 14, 13, 13, 13, 13, 12, 12, 12, 12, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 8, 8]

In [365]:
#top50 Banner
banner = df.banner.value_counts()
banner = banner.reset_index()
banner.columns=["banner","count"]
banner = banner[:25]
banner

                          banner  count
0              Neela Productions     58
1            Sunitha Productions     48
2              Excel Productions     36
3                   Jaya Maruthi     28
4                          Udaya     25
5                       Manjilas     24
6                        Supriya     20
7                  Century Films     20
8       Grihalakshmi Productions     19
9   Seven Arts International LTD     18
10               Ganesh Pictures     18
11            Sastha Productions     18
12                  Galaxy Films     17
13           Jubilee Productions     16
14         Evershine Productions     16
15                     Evershine     16
16            Revathi Kalamandir     16
17         Sree Murugalaya Films     15
18                  Kokers Films     15
19            SreeGokulam Movies     14
20              General Pictures     14
21          Shirdi Sai Creations     13
22              Ashirvad Cinemas     13
23                     Teakebees     13
24                      Navodaya     13

In [373]:
banner_names = list(banner.banner)
bdf = df[["year","movie","banner"]]
bdf = bdf[bdf.banner.isin(banner_names)]
bandata = bdf.groupby(["year","banner"]).count()
bandata = bandata.reset_index()
len(bandata.banner.value_counts())
bdf.head(3)

   year               movie             banner
1  1952        Achan (1952)  Excel Productions
1  1952  Aathmasakhi (1952)  Neela Productions
1  1953    Ponkathir (1953)  Neela Productions

In [375]:
bff = pd.DataFrame(df)
df_56= (df[(1950 < df.year) & (df.year <= 1960 )])
df_67= (df[(1960 < df.year) & (df.year <= 1970 )])
df_78= (df[(1970 < df.year) & (df.year <= 1980 )])
df_89= (df[(1980 < df.year) & (df.year <= 1990 )])
df_90= (df[(1990 < df.year) & (df.year <= 2000 )])
df_01= (df[(2000 < df.year) & (df.year <= 2010 )])
df_12= (df[(2010 < df.year) & (df.year <= 2020 )])

,year,movie,movie genre,director,distribution,editing,producer,screenplay,music,art direction,...,dialogue,lyrics,makeup,original story,shooting location,singers,sound design,status,story,cast
1,1951,Jeevithanouka (1951),NaN,K Vembu,NaN,KD George,"M Kunchacko, KV Koshy",Muthukulam Raghavan Pilla,V Dakshinamoorthy,NaN,...,Muthukulam Raghavan Pilla,"Abhayadev, Vallathol",NaN,NaN,NaN,"V Dakshinamoorthy, P Leela, Alappuzha Pushpam,...",NaN,1951-03-15,Muthukulam Raghavan Pilla,"[BS Saroja, Thikkurissi Sukumaran Nair]"
1,1951,Rakthabandham (1951),NaN,MR Vittal,NaN,TM Lal,NK Karunakaran Pillai,K Chellappan Pillai,"SM Subbaiah Naidu, SN Chaami (SN Ranganathan)",NaN,...,K Chellappan Pillai,"Abhayadev, Thumbaman Padmanabhan Kutty",NaN,NaN,NaN,"P Leela, Kaviyoor CK Revamma, Vaikkom Mani, Ku...",NaN,1951-05-18,K Chellappan Pillai,"[Ambalappuzha Meenakshi, Cherthala Vasudeva Ku..."
1,1951,Yaachakan (1951),NaN,R Velappan Nair,NaN,KD George,KS Akhileswarayyar,PS Nair,SN Chaami (SN Ranganathan),A Balu,...,"Abhayadev, PS Nair","Abhayadev, Bodheswaran, G Sankara Kurup",NaN,NaN,NaN,"Kaviyoor CK Revamma, T Lokanathan, VN Rajan",NaN,1951-12-09,PS Nair,"[Thiruvananthapuram Kuttan Pillai, Muthukulam ..."
1,1951,Kerala Kesari (1951),NaN,V Krishnan,Geo Release,NaN,Vaikkom Vasudevan Nair,N Shankarapillai,Jnanamani,NaN,...,"KN Gopalan Nair, N Shankarapillai",Thumbaman Padmanabhan Kutty,NaN,NaN,NaN,"P Leela, Kaviyoor CK Revamma, Mothi, Thankam V...",NaN,1951-05-17,VK Kumar,[Durga Varma]
1,1951,Navalokam (1951),NaN,V Krishnan,NaN,KD George,Pappachan,Ponkunnam Varkey,V Dakshinamoorthy,NaN,...,Ponkunnam Varkey,P Bhaskaran,NaN,NaN,NaN,"V Dakshinamoorthy, P Leela, Alappuzha Pushpam,...",NaN,1951-03-29,Ponkunnam Varkey,"[Thikkurissi Sukumaran Nair, Muthukulam Raghav..."

In [371]:
banyear =pd.DataFrame({"year": list(bandata.year)})
list(banyear.year.unique())

[1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [368]:
banj =[]
import math

for i in range(25):
    temp = {}
    data =[]
    temp["label"] = banner_names[i]
    temp["backgroundColor"] = colours[i]
    
    k = bandata[bandata.banner == banner_names[i]]
    k2 = pd.merge(banyear,k,on="year",how='outer')
    mylist = [0 if math.isnan(x) else int(x) for x in list(k2.movie)]
    temp["data"] =mylist

            
    
    
    banj.append(temp)

banj

[{'label': 'Neela Productions', 'backgroundColor': '#2A5784', 'data': [1, 1, 1, 2, 2, 3, 3, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Sunitha Productions', 'backgroundColor': '#43719F', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0]}, {'label': 'Excel Productions', 'backgroundColor': '#5B8DB8', 'data': [1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Jaya Maruthi', 'backgroundColor': '#7AAAD0', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Udaya', 'backgroundColor': '#9BC7E4', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Manjilas', 'backgroundColor': '#BADDF1', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Supriya', 'backgroundColor': '#E1575A', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Century Films', 'backgroundColor': '#EE7423', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1]}, {'label': 'Grihalakshmi Productions', 'backgroundColor': '#F59D3D', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Seven Arts International LTD', 'backgroundColor': '#FFC686', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Ganesh Pictures', 'backgroundColor': '#9D7760', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Sastha Productions', 'backgroundColor': '#F1CF63', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Galaxy Films', 'backgroundColor': '#7C4D79', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Jubilee Productions', 'backgroundColor': '#9B6A97', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Evershine Productions', 'backgroundColor': '#BE89AC', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Evershine', 'backgroundColor': '#D5A5C4', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Revathi Kalamandir', 'backgroundColor': '#EFC9E6', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 1, 1, 1, 3, 3, 3, 3, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}, {'label': 'Sree Murugalaya Films', 'backgroundColor': '#BBB1AC', 'data': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,

In [ ]:
#top50 cinematography
cinematography = df.cinematography.value_counts()
cinematography = cinematography.reset_index()
cinematography.columns=["music","count"]
cinematography = cinematography[:50]
cinematography

In [380]:
#top50 editors
editors = df.editing.value_counts()
editors = editors.reset_index()
editors.columns=["editing","count"]
editors50 = editors[:50]
len(editors.editing.unique())

549

In [ ]:
#top50 producers
producers = df.producer.value_counts()
producers = producers.reset_index()
producers.columns=["producers","count"]
producers = producers[:50]
producers

In [ ]:
#top50 screenplay
screenplay = df.screenplay.value_counts()
screenplay = screenplay.reset_index()
screenplay.columns=["screenplay","count"]
screenplay = screenplay[:100]
screenplay.head(25)

In [384]:
#top50 story
story = df.story.value_counts()
story = story.reset_index()
story.columns=["story","count"]
story50 = story[:50]
print(story.shape[0])
story.head(5)

1899

                 story  count
0    MT Vasudevan Nair     55
1  SL Puram Sadanandan     51
2   Sreekumaran Thampi     49
3           Lohithadas     46
4              Ranjith     45

In [388]:
#art direction
art = df["art direction"].value_counts()
art = art.reset_index()
art.columns=["art","count"]
art50 = story[:50]
print(art.shape[0])
art.head(5)

602

                  art  count
0       S Konnannattu    162
1  Radhakrishnan (RK)     93
2               Boban     92
3     K Krishnankutty     81
4             K Balan     69

In [390]:
#lyrics  #TOP10 visualize
lyrics = df["lyrics"].value_counts()
lyrics = lyrics.reset_index()
art.columns=["lyrics","count"]
art50 = lyrics[:50]
print(lyrics.shape[0])
lyrics.head(10)

2067

                     index  lyrics
0         Poovachal Khader     276
1               Kaithapram     247
2      Gireesh Puthenchery     234
3       Sreekumaran Thampi     222
4          Bichu Thirumala     217
5              P Bhaskaran     208
6                ONV Kurup     181
7                  Vayalar     178
8  Mankombu Gopalakrishnan     155
9         Yusufali Kecheri     105

In [397]:
#cast
totcast = set(df["cast"].sum())
len(totcast)

3709

In [398]:
actor_df = pd.DataFrame(columns=totcast)
actor_df

Empty DataFrame
Columns: [Sinbad, MA Nair, Sreesankhya, Tarun Kumar, CM Abraham, Latha Thomas, Shruthi (Kannada), Nithi Singh , Ajin Shaji, Ajith Kumar, Sethulakshmy, Damodaran, Narendra Prasad, Akash Arya, Thyagarajan, Vanakkutty, Vishnu, Radha, Anand Raj, Sushama (Maya), Krithi Kharbanda, Heera, Ramesh , VP Ramachandran, Sagar Shiyas, Neelambari, Arya, Roja, Meena Ganesh, Annie, diya, PJ Radhakrishnan, TK Shanthi, Amman, Nirmal, Rajisha Vijayan, TS Raju, Satheesh Babu, Manikuttan, Anushka Shetty, Aardra, Athira, K Ravindran (Chintha Ravi), Anas Sainudheen, Ponjikkara Kalyani Amma, Uma, TS Doraraj, MV Suresh Babu, Shaarika, Aaliya, Anu, TR Sheshan, Keerthi Anand, Isha Sharvani, Vettoor Purushan, Wamiqa Gabbi, Monu, Siddharth , Sudheer Attingal, Dr Laljish Lovelys, Rose Hanns, Tulasi (Sankarabharanam), Nooriya, Anilkumar, Jayam Ravi, Katrina Kaif, Roopasree, Karthika, Munshi Ranjith, Rajeev Venadu, Pothan P Puthumana, Radhika Kumaraswamy, Rajmohan, Aravind, Ravichandran, Bhagyalakshmi, Rajan Thazhakkara, Thodupuzha Vasanthy, Suby Suresh, Pallavi (Old), Simran, Ambareesh, Pratheesh Nandan, Master Sanjay, Alex (Old), Kalidas, Rahman Chelakkulam, Leela Chitnis, Nadiya Moithu, Ruchitha Prasad, Vijay Babu, Mani Varughese, Artist Nandan, Rohith, Manasy , Rahul Madhav, Jishnu Suresh, Sreekanth , Lissy Jose, Pradeep Rawat, ...]
Index: []

[0 rows x 3709 columns]

In [429]:
castdf = df[["year","movie","cast"]]
castdf = castdf.reset_index(drop =True)
castdf.shape

(6297, 3)

In [430]:
for i in totcast:
    castdf[i] = 0

In [431]:
castdf.shape

(6297, 3712)

In [432]:

for i, row in castdf.iterrows():
    for j in castdf["cast"][i]:
        castdf.at[i,j] = 1

In [437]:
castdf

,year,movie,cast,Sinbad,MA Nair,Sreesankhya,Tarun Kumar,CM Abraham,Latha Thomas,Shruthi (Kannada),...,Pankajavalli,Stephen,Madhu Attukal,Manoj Guiness,Valsa James,Jyothi Meena,Aswathy Nair,Mohanraj (Old),Lalitha,Madhubala (Old)
0,1928,Vigathakumaaran (1928),"[JC Daniel, Johnson, PK Rosy, Sunder Raj]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [483]:
cast_list = list(totcast)
y_dummies = castdf[cast_list].values
y_max = np.where(y_dummies[0] == 1)
[cast_list[i] for i in list(y_max[0])]

['JC Daniel', 'Sunder Raj', 'Johnson', 'PK Rosy']

In [ ]:
actor_freq = castdf.sum().to_frame()
castdf

In [492]:
actor_freq = actor_freq[3:]

In [498]:
actor_freq.columns=actor_freq.columns.astype(str)

In [501]:
actor_freq = actor_freq.reset_index()
actor_freq.columns = ["actor","count"]

In [505]:
actor_freq = actor_freq.sort_values("count",ascending=False)

In [509]:
#actor_freq.reset_index()
actor_freq = actor_freq[["actor","count"]]

In [510]:
actor_freq.head()

             actor count
617     Prem Nazir   500
2794     Mammootty   367
504       Mohanlal   309
1830         Madhu   290
121   Jayabharathi   263

In [529]:
m_max = np.where(mohanlal == 1)
for i in

309

In [535]:
mohanlal = castdf["Mohanlal"].values
m_max = np.where(mohanlal == 1)
[castdf["movie"].iloc[i] for i in list(m_max[0])]
castdf

['Thiranottam (1978)', 'Manjil Virinja Pookkal (1980)', 'Dhruvasangamam (1981)', 'Oothikkaachiya Ponnu (1981)', 'Dhanya (1981)', 'Football (1982)', 'Enthino Pookkunna Pookkal (1982)', 'Aa Divasam (1982)', 'Kaaliyamarddanam (1982)', 'Enikkum Oru Divasam (1982)', 'Kelkkaatha Shabdam (1982)', 'Sindoorasandhyaykku Mounam (1982)', 'Njaanonnu Parayatte (1982)', 'Ente Kadha (1983)', 'Himavaahini (1983)', 'Engane Nee Marakkum (1983)', 'Arabikkadal (1983)', 'Iniyenkilum (1983)', 'Naanayam (1983)', 'Chakravaalam Chuvannappol (1983)', 'Sandhyaykku Virinja Poovu (1983)', 'Asthram (1983)', 'Kolakomban (1983)', 'Hello Madras Girl (1983)', 'Oru Mukham Pala Mukham (1983)', 'Changaatham (1983)', 'Kaattathe Kilikkoodu (1983)', 'Aattakkalaasham (1983)', 'Naseema (Thamburu) (1983)', 'Gurudakshina (1983)', 'Visa (1983)', 'Arunayude Prabhaatham (1983)', 'Ivide Thudangunnu (1984)', 'Uyarangalil (1984)', 'Thirakal (1984)', 'Kurishuyudham (1984)', 'Appunni (1984)', 'Poochaykkoru Mookkuthi (1984)', 'Kaliyil Alpam Karyam (1984)', 'Onnaanu Nammal (1984)', 'Lakshmanarekha (1984)', 'Kilikkonchal (1984)', 'Athiraathram (1984)', 'Swanthamevide Bandhamevide (1984)', 'Paavam Poornima (1984)', 'Vetta (Kombu) (1984)', 'Unaroo (1984)', 'Manassariyaathe (1984)', 'Sreekrishnapparunthu (1984)', 'Adiyozhukkukal (1984)', 'Koodum Thedi (1985)', 'Boeing Boeing (1985)', 'Njaan Piranna Naattil (1985)', 'Jeevante Jeevan (1985)', 'Uyarum Njaan Naadaake (1985)', 'Ezhumuthal Onpathuvare (1985)', 'Mulamoottil Adima (1985)', 'Karimbinpoovinakkare (1985)', 'Pathaamudayam (1985)', 'Aram+Aram=Kinnaram (1985)', 'Avidatheppole Ivideyum (1985)', 'Anubandham (1985)', 'Angaadikkappurathu (1985)', 'Guruji Oru Vaakku (1985)', 'Vasanthasena (1985)', 'Onnaanaam Kunnil Oradikkunnil (1985)', 'Oro Poovilum (1985)', 'Naayakan (Vaa Kuruvi Varu Kuruvi) (1985)', 'Adhyaayam Onnumuthal (1985)', 'Rangam (1985)', 'Kandu Kandarinju (1985)', 'Idanilangal (1985)', 'Nokkethaadoorathu Kannumnattu (1985)', 'Omanikkan Ormavekkan (1985)', 'Azhiyaatha Bandhangal (1985)', 'Adiverukal (1986)', 'TP Baalagopaalan MA (1986)', 'Geetham (1986)', 'Sukhamo Devi (1986)', 'Nimishangal (Yaamam) (1986)', 'Oppam Oppathinoppam (1986)', 'Namukku Paarkkaan Munthirithoppukal (1986)', 'Revathikkoru Paavakkutty (1986)', 'Kaaveri (1986)', 'Sanmanassullavarkku Samaadhaanam (1986)', 'Panchaagni (1986)', 'Raajaavinte Makan (1986)', 'Ninnishtam Ennishtam (1986)', 'Gandhinagar 2nd Street (1986)', 'Iniyum Kurukshetram (1986)', 'Mizhineerppoovukal (1986)', 'Vaartha (1986)', 'Padayani (1986)', 'Doore Doore Oru Koodu Koottam (1986)', 'Neram Pularumpol (1986)', 'Yuvajanolsavam (1986)', 'Poomukhappadiyil Ninneyum Kaathu (1986)', 'Kariyilakkaattu Pole (1986)', 'Hello My Dear Wrong Number (1986)', 'Pappan Priyappetta Pappan (1986)', 'Shobhraj (1986)', 'Deshadanakkili Karayaarilla (1986)', 'Thaalavattam (1986)', 'Kunjaattakkilikal (1986)', 'Manasiloru Manimuthu (1986)', 'Abhayam Thedi (1986)', 'Mazha Peyyunnu Maddalam Kottunnu (1986)', 'Onnu Muthal Poojyam Vare (1986)', 'Ente Entethumaathram (1986)', 'Thoovaanathumbikal (1987)', 'Unnikale Oru Kadha Parayaam (1987)', 'Amritham Gamaya (1987)', 'Adimakal Udamakal (1987)', 'Irupathaam Noottaandu (1987)', 'January Oru Orma (1987)', 'Bhoomiyile Raajakkanmaar (1987)', 'Kayyethum Doorathu (Adhyaayam) (1987)', 'Ivide Ellaavarkum Sukham (1987)', 'Naadodikkaattu (1987)', 'Sarvakalashaala (1987)', 'Vazhiyorakkaazhchakal (1987)', 'Cheppu (1987)', 'Orkaappurathu (1988)', 'Pattanapravesham (1988)', 'Paadamudra (1988)', 'Aaryan (1988)', 'Ayitham (1988)', 'Mukundetta Sumitra Vilikkunnu (1988)', 'Moonnaam Mura (1988)', 'Anuraagi (1988)', 'Vellaanakalude Naadu (1988)', 'Ulsavappittennu (1988)', 'Chithram (1988)', 'Douthyam (1989)', 'Season (1989)', 'Varavelpu (1989)', 'Lal Americayil (1989)', 'Vandanam (1989)', 'Adhipan (1989)', 'Kireedam (1989)', 'Dasaratham (1989)', 'Naaduvaazhikal (1989)', 'Thaazhvaaram (1990)', 'Arhatha (1990)', 'Aye Auto (1990)', 'Indrajaalam (1990)', 'Appu (1990)', 'Number 20 Madras Mail (1990)', 'Laal Salaam (1990)', 'Akkare Akkare Akkare (1990)', 'His Highness Abdulla (1990)', 'Mukham (1990)', 'Kadathanaadan Ambaadi (1990)', 'Vishnulokam (1991)', 'Bharatham (1991)', 'Abhimanyu (1991)', 'Kizhakkunarum Pakshi (1991)', 'Ulladakkam (1991)', 'Vaasthuhaara (1991)', 'Kilukkam (1991)', 'Uncle Bun (1991)', 'Dhanam (1991)', 'Sooryagaayathri (1992)', 'Vietnam Colony (1992)', 'Raajashilpi (1992)', 'Naadodi (1992)', 'Yodha (1992)', 'Kamaladalam (1992)', 'Adwaitham (1992)', 'Sadayam (1992)', 'Aham (1992)', 'Kalippaattam (1993)', 'Gaandharvam (1993)', 'Manichithrathaazhu (1993)', 'Maayaamayooram (1993)', 'Midhunam (1993)', 'Butterflies (1993)', 'Chenkol (1993)', 'Devaasuram (1993)', 'Thenmaavin Kompathu (1994)', 'Pakshe (1994)', 'Pingaami (1994)', 'Pavithram (1994)', 'Minnaaram (1994)', 'Agnidevan (1995)', 'Nirnayam (1995)', 'Thacholi Vargheese Chekavar (1995)', 'Sphadikam (1995)', 'Maanthrikam (1995)', 'Kaalapaani (1996)', 'The Prince (1996)', 'Oru Yaathraamozhi (1997)', 'Varnappakittu (1997)', 'Guru (1997)', 'Chandralekha (1997)', 'Aaraam Thampuraan (1997)', 'Swarnna Chaamaram (1997)', 'Kanmadam (1998)', 'Rakthasaakshikal Sindaabaad (1998)', 'Ayaal Kadhayezhthukayaanu (1998)', 'Harikrishnans (1998)', 'Usthaad (1999)', 'Vaanaprastham (1999)', 'Olympian Antony Adam (1999)', 'Sradha (2000)', 'Life is Beautiful (2000)', 'Devadoothan (2000)', 'Narasimham (2000)', 'Raavanaprabhu (2001)', 'Praja (2001)', 'Kaakkakkuyil (2001)', 'Thaandavam (2002)', 'Onnaaman (2002)', 'Chathurangam (2002)', 'Kilichundan Mambazham (2003)', 'Mr Brahmachaari (2003)', 'Balettan (2003)', 'Hariharan Pilla Happiyaanu (2003)', 'Popcorn (2003)', 'Vismayathumbathu (2004)', 'Maambazhakkaalam (2004)', 'Naattu Raajavu (2004)', 'Vaamanapuram Bus Route (2004)', 'Chakram (2001)', 'Chandrolsavam (2005)', 'Naran (2005)', 'Thanmaathra (2005)', 'Udayanaanu Thaaram (2005)', 'Udayon (2005)', 'Aey taxi (2005)', 'Kilukkam Kilukilukkam (2006)', 'Rasathanthram (2006)', 'Vadakkumnathan (2006)', 'Mahaasamudram (2006)', 'Keerthichakra (2006)', 'Photographer (2006)', 'Paradesi (2007)', 'Baba Kalyani (2006)', 'Chotta Mumbai (2007)', 'Hallo (2007)', 'Alibhai (2007)', 'Rock N Roll (2007)', 'Flash (2007)', 'College Kumaaran (2008)', 'Innathe Chinthavishayam (2008)', 'Maadambi (2008)', 'Twenty 20 (2008)', 'Kurukshethra (2008)', 'Aakaashagopuram (2008)', 'Pakal Nakshathrangal (2008)', 'Swapnamaalika (2009)', 'Red Chillies (2009)', 'Sagar Alias Jacky Reloaded (2009)', 'Bhagavaan (2009)', 'Bhramaram (2009)', 'Angel John (2009)', 'Ividam Swargamaanu (2009)', 'Janakan (2010)', 'Oru Naal Varum (2010)', 'Alexander The Great (2010)', 'Shikkar (2010)', 'Kaandahaar (2010)', 'Swarnnamaalika (2010)', 'Casanova (2012)', 'Ninnishtam Ennishtam II (2011)', 'Christian Brothers (2011)', 'China Town (2011)', 'Arabiyum Ottakavum P Madhavan Nairum (2011)', 'Red Wine (2013)', 'Dhanushkodi (1989)', 'Australia (1992)', 'Pranayam (2011)', 'Snehaveedu (2011)', 'Grand Master (2012)', 'Run Baby Run (2012)', 'Spirit (2012)', 'Kanal (2015)', 'Karmayodha (2012)', 'Lokpal (2013)', 'Ladies and Gentleman (2013)', 'Aaru Muthal Arupathu Vare (2013)', 'Geethaanjali (2013)', 'Drishyam (2013)', 'Lailaa O Lailaa (2015)', 'Mr Fraud (2014)', 'Peruchazhi (2014)', 'Pulimurukan (2016)', 'Ennum Eppozhum (2015)', 'Rasam (2015)', 'Mythri (2015)', 'Loham (2015)', '1971 Beyond Borders (2017)', 'Oppam (2016)', 'Vismayam (2016)', 'Munthirivallikal Thalirkkumpol (2016)', 'Villain (2017)', 'Odiyan (2018)', 'Lucifer (2019)', 'Velipaadinte Pusthakam (2017)', 'Neeraali (2018)', 'Drama (2018)', 'Ittymaani Made In China (2019)', 'Marakkar Arabikadalinte Simham (2020)', 'Big Brother (2020)', 'Oru Budhanazhcha (2009)', 'L2 Empuraan (2019)', "Barroz: Guardian of D'Gama's Treasure (2019)", 'Ram (2020)', 'Kaappaan (2019)']

In [544]:
castdf

,year,movie,cast,Sinbad,MA Nair,Sreesankhya,Tarun Kumar,CM Abraham,Latha Thomas,Shruthi (Kannada),...,Pankajavalli,Stephen,Madhu Attukal,Manoj Guiness,Valsa James,Jyothi Meena,Aswathy Nair,Mohanraj (Old),Lalitha,Madhubala (Old)
0,1928,Vigathakumaaran (1928),"[JC Daniel, Johnson, PK Rosy, Sunder Raj]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1933,Maarthandavarma (1933),"[Pious, Padmini, AP Krishna Menon, Devaki Bhai...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1938,Balan (1938),"[Alleppey Vincent, MK Kamalam, KK Aroor]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1940,Jnaanaambika (1940),"[CA Seethalakshmi, Nanukkuttan, Mavelikkara L ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1941,Prahlaada (1941),"[Guru Gopinath, Kumari Lakshmi, NP Chellappan ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1948,Nirmala (1948),"[PJ Cheriyan, Baby Joseph, Cherthala Vasudeva ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1949,Vellinakshathram (1949),"[Gayaka Peethambaram, Lalitha Devi]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1950,Sthree (1950),"[Thikkurissi Sukumaran Nair, CS Radhadevi, Vai...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1950,Prasanna (1950),[TS Balayya],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1950,Nallathanka (1950),"[Augustine Joseph, Muthukulam Raghavan Pilla, ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1950,Chandrika (1950),"[Sethulakshmi (Old), Thikkurissi Sukumaran Nair]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1950,Sasidharan (1950),"[Aranmula Ponnamma, Kottarakkara Sreedharan Na...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1950,Chechi (1950),"[TR Omana, SP Pillai, SA Fareed, Miss Kumari, ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1951,Jeevithanouka (1951),"[BS Saroja, Thikkurissi Sukumaran Nair]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1951,Rakthabandham (1951),"[Ambalappuzha Meenakshi, Cherthala Vasudeva Ku...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1951,Yaachakan (1951),"[Thiruvananthapuram Kuttan Pillai, Muthukulam ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1951,Kerala Kesari (1951),[Durga Varma],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1951,Navalokam (1951),"[Thikkurissi Sukumaran Nair, Muthukulam Raghav...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1951,Vanamaala (1951),"[PA Thomas, Neyyaattinkara Komalam]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1952,Pullimaan (1952),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1951,Kathirkaanaakkili (1951),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1951,Thyaagaseema (1951),"[Prem Nazir, Sathyan, Indira Bhai Thankachi]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1952,Suhruthu (1952),"[Alex Parakkal, MP Sanku, MS Namboothiri, PK S...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1952,Achan (1952),"[CR Rajakumari, Vanakkutty, Jayasree (Old), Pr...",0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
24,1952,Premalekha (1952),"[Chitoor Madhavankutty Menon, Adoor Pankajam, ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,1952,Aathmasakhi (1952),"[Pankajavalli, Chandni (NR Thankam), Miss Kuma...",0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
26,1952,Alphonsa (1952),"[Jose Prakash, Rose, Ansalees, CR Lakshmi, EC ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,1952,Vishappinte Vili (1952),"[Adoor Pankajam, Mathappan, Kumari Thankam, Ka...",0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
28,1952,Marumakal (1952),"[Neyyaattinkara Komalam, Prem Nazir]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,1952,Aathmashaanthi (1952),"[Miss Kumari, Vanchiyoor Madhavan Nair]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6267,2020,Oruthee (2020),[Navya Nair],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6268,2020,24 Days (2020),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6269,2017,Ore Kanavu (2017),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6270,2020,Sahyadriyile Chuvanna Pookkal (2020),[Nandulal],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6271,2020,Varayan (2020),[Siju Wilson],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6272,2020,Vahni (2020),[Neena Kurup],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6273,2020,World Famous Lover (2020),"[Catherine Tressa, Vijay Devarakonda]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6274,2020,Glimpse of Kunjeldho (2020),[Asif Ali],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6275,2020,Maradu 357 (2020),"[Sheelu Abraham, Anoop Menon]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6276,2020,Kappela (2020),"[Sreenath Bhasi, Roshan Mathew, Anna Ben]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6277,2020,Savanika (2020),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6278,2020,Kuttavum Sikshayum (2020),"[Asif Ali, Sunny Wayne]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6279,2020,Lalitham Sundaram (2020),"[Biju Menon, Manju Warrier]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6280,2020,Oru Pakka Naadan Premam (2020),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6281,2020,Story 48 Hours (2020),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6282,2020,Backpackers (2020),"[Kalidas, Karthika Nair]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6283,2020,Joshua (2020),"[Priyanka Nair, Hemanth Menon]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6284,2020,Mohan Kumar Fans (2020),[Kunchacko Boban],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6285,2020,Chiri (2020),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6286,2020,PK Rosy (2020),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6287,2020,Ole Kanda Naal (2020),[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6288,2020,Article 21 (2020),[Lena],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6289,2020,Hridayam (2020),"[Pranav Mohanlal, Kalyani Priyadarshan]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6290,2020,Aviyal (2020),"[Joju George, Anaswara Rajan]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6291,2002,Ee Thanthram Manthramaay (2002),"[Jagathy Sreekumar, Augustine, CI Paul, Harish...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6292,2016,Daivathinte Kayyoppu (2016),[Madhu],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6293,2017,Sleeplessly Yours (2017),"[Sudev Nair, Devaki Rajendran]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6294,2001,Aarodum Parayathe (2001),"[Sindhu, Adoor Pankajam, Jayanand, Jose Pellis...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6295,2002,Aaradyam Parayum (2002),"[Gopika, Rakesh]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6296,1999,Mimics Ghost (1999),"[Indulekha, Shaju K.S.]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [545]:
mmov = castdf[castdf.Mohanlal == 1]["movie"].str.replace(r"\(.*\)","")

In [570]:
dif = list(set(mwiki)-set(mmov))

In [552]:
mmov =list(mmov.values)

In [554]:
mmov = [i.lower().strip() for i in mmov]

In [555]:
mwiki =[i.lower().strip() for i in mwiki]

In [557]:
len(mwiki)

329

In [558]:
len(mmov)

309

In [581]:
import Levenshtein as lev
n =[]
for i in dif:
    for j in mmov:
        if lev.ratio(j,i)>0.9:
            print(j);n.append(i)

ulsavappittennu
onnaaman
vaasthuhaara
vazhiyorakkaazhchakal
vaamanapuram bus route
olympian antony adam
kelkkaatha shabdam
bhoomiyile raajakkanmaar
munthirivallikal thalirkkumpol
minnaaram
kalippaattam
ittymaani made in china
iniyum kurukshetram
keerthichakra
yuvajanolsavam
sindoorasandhyaykku mounam
thaazhvaaram
sarvakalashaala
athiraathram
neeraali
himavaahini
angaadikkappurathu
thacholi vargheese chekavar
kaattathe kilikkoodu
raajashilpi
kaaveri
guruji oru vaakku
his highness abdulla
bhagavaan
maanthrikam
sreekrishnapparunthu
poochaykkoru mookkuthi
naaduvaazhikal
dasaratham
ezhumuthal onpathuvare
changaatham
ividam swargamaanu
namukku paarkkaan munthirithoppukal
mr fraud
rock n roll
manassariyaathe
paadamudra
karimbinpoovinakkare
adhyaayam onnumuthal
iniyenkilum
oothikkaachiya ponnu
pakal nakshathrangal
college kumaaran
gaandharvam
chakravaalam chuvannappol
marakkar arabikadalinte simham
naayakan
kolakomban
aakaashagopuram
kunjaattakkilikal
aaryan
velipaadinte pusthakam
panchaagni
kurukshethra
casanova
mahaasamudram
orkaappurathu
pingaami
nokkethaadoorathu kannumnattu
njaan piranna naattil
njaanonnu parayatte
poomukhappadiyil ninneyum kaathu
hariharan pilla happiyaanu
enthino pookkunna pookkal
anuraagi
sanmanassullavarkku samaadhaanam
innathe chinthavishayam
ivide ellaavarkum sukham
yodha
oru yaathraamozhi
onnaanaam kunnil oradikkunnil
sandhyaykku virinja poovu
manichithrathaazhu
kadathanaadan ambaadi
sradha
onnaanu nammal
kariyilakkaattu pole
varnappakittu
irupathaam noottaandu
1971 beyond borders
pulimurukan
gurudakshina
revathikkoru paavakkutty
aaraam thampuraan
unnikale oru kadha parayaam
uyarum njaan naadaake
thanmaathra
neram pularumpol
raajaavinte makan
azhiyaatha bandhangal
manasiloru manimuthu
kilichundan mambazham
grand master
mukundetta sumitra vilikkunnu
moonnaam mura
avidatheppole ivideyum
naanayam
mr brahmachaari
kaaliyamarddanam
pathaamudayam
vasanthasena
thaandavam
kaakkakkuyil
ente entethumaathram
rakthasaakshikal sindaabaad
vaartha
thaalavattam
deshadanakkili karayaarilla
usthaad
kaalapaani
paavam poornima
amritham gamaya
udayanaanu thaaram
thoovaanathumbikal
kayyethum doorathu
vellaanakalude naadu
lakshmanarekha
naadodikkaattu
raavanaprabhu
sooryagaayathri
vaanaprastham

In [582]:
set(dif)-set(n)

{'ormikkaan omanikkaan', 'ahimsa', 'bhookambam', 'sanchari', 'mizhikal sakshi', 'oru kochu swapnam', 'aalkkoottathil thaniye', 'naadody', 'kandahar', 'no.20 madras mail', 'peruvannapurathe visheshangal', 'vanitha police', 'aadhi', 'madampi', 'aakrosham', 'sree ayyappanum vavarum', 'parayanumvayya parayathirikkanumvayya', 'kayamkulam kochunni', 'maya mayooram', 'attakkalasam', 'ariyaatha veethikal', 'ente mohangal poovaninju', 'twenty:20', 'adhwaytham', 'achaneyanenikkishtam', 'mithunam', 'thakilu kottampuram', 'unaru', 'lal salam', 'thenum vayambum', 't. p. balagopalan m.a.', 'aadhipathyam', 'kadal kadannu oru maathukutty', 'sesham kazhchayil', 'padayottam', 'thaavalam', 'itha innu muthal', 'natturajavu', 'oru marubhoomikkadha', 'thenmavin kombath', 'mampazhakkalam', 'manu uncle', 'pinnilavu', 'shobaraj', 'wanted', 'ente katha', 'aduthaduthu', 'marakkillorikkalum', 'kurukkante kalyanam', 'madrasile mon', 'unnathangalil', 'ayal kadha ezhuthukayanu', 'aram + aram = kinnaram', 'summer in bethlahem', 'koothara', 'attimari', 'kuyiline thedi', 'akkare', 'ente mamattikkuttiyammakku', 'drishyam 2'}

In [587]:
castdf[castdf.movie == 'Ente Mohangal Poovaninju (1982)']

,year,movie,cast,Sinbad,MA Nair,Sreesankhya,Tarun Kumar,CM Abraham,Latha Thomas,Shruthi (Kannada),...,Pankajavalli,Stephen,Madhu Attukal,Manoj Guiness,Valsa James,Jyothi Meena,Aswathy Nair,Mohanraj (Old),Lalitha,Madhubala (Old)
1306,1982,Ente Mohangal Poovaninju (1982),"[Menaka Sureshkumar, Shanker]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0